.email-icon {
	color: rgb(88 39 207) !important;
}

.border-generic {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #eaeaea;
}

.btn-login {
	background: rgb(88 39 207) !important;
	border: none !important;
}
.bottom-border {
	border-color: #eaeaea;
}
