/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
	margin: 0;
	font-family: 'Spectral', serif;

	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.text-format {
	text-align: justify;
}

.footer-icon-color {
	color: #00e5cc !important;
}

.footer-appointment-color {
	background-color: #7f86ff33;
}
